## 列表练习

https://www.cnblogs.com/mayite/articles/9131490.html

练习

有列表data=['albert',18,[2000,1,1]]，分别取出列表中的名字，年龄，出生的年，月，日赋值给不同的变量

In [5]:
data = ['albert',18,[2000,1,1]]
name = data[0]
age = data[1]
year = data[2][0]
month = data[2][1]
day = data[2][2]
print(name, age, year, month, day)

albert 18 2000 1 1

### 使用enumerate对列表枚举

In [6]:
l1 = ['a', 'b', 'c', 'd', 'e']
for i, x in enumerate(l1, 100): # 100指定枚举开始的数字
    print(i, x)

100 a
101 b
102 c
103 d
104 e